body {
	font-size: 14px;
	line-height: 21px;
	color: #000000;
	font-weight: normal;
	font-family: "PT Sans", "Arial", sans-serif;
	margin: 0;
	padding: 0;
}

.container {
	width: 1200px;
	margin: 0 auto;
	outline: 1px dashed #000000;
}

/* Шапка */
.logo {
	position: absolute;
	width: 137px;
	left: calc(50% - 68.5px);
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.menu-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.menu-item {
	padding: 15px 0;
	width: 20%;
	text-align: center;
}

.menu-item a {
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	font-weight: bold;
	font-family: "PT Sans", "Arial", sans-serif;
	text-decoration: none;
	text-transform: uppercase;
}

.item-left {
	float: left;
}

.item-right {
	float: right;
}

/* Основной блок */
h2 {
	font-size: 21px;
	line-height: 26px;
	color: #000000;
	font-weight: bold;
	font-family: "PT Sans", "Arial", sans-serif;
	text-align: center;
	text-transform: uppercase;
	margin-top: 59px;
}

.welcome p {
	text-align: center;
	text-transform: uppercase;
	margin-top: 29px;
	margin-bottom: 53px;
}

.welcome-bg {
	background: url("../img/background.jpg") no-repeat;
	text-align: center;
}

.welcome-bg img {
	margin-top: 76px;
	margin-bottom: 76px;
}

.reason-blue {
	float: left;
	width: 400px;
	height: 256px;
	text-align: center;
	text-transform: uppercase;
	background-color: #81b3d2;
}

.reason-blue h2 {
	color: #ffffff;
}

.reason-wrap {
	outline: 1px dashed #000000;
}

.reason-photo {
	float: left;
}

.reason-photo img {
	vertical-align: bottom;
}

.content-promo {
	height: 330px;
}

.promo-hotel {
	background: url("../img/tmp/house.png") no-repeat;
}
 
.reason-gray {
	height: 256px;
	background-color: #dddddd;
}
.content-promo, 
.reason-gray {
	float: left;
	width: 400px;
	text-align: center;
	text-transform: uppercase;
}

.search {
}

.question {
	margin-top: 58px;
	text-align: center;
	text-transform: uppercase;
}

.question span {
	font-size: 30px;
	line-height: 24px;
	font-weight: bold;
}

.question p {
	font-size: 14px;
	line-height: 24px;
	margin-top: 25px;
}

.map {
	
	outline: 1px dashed #000000;
}

/* Подвал */
.page-footer {
	font-size: 0;
	text-align: center;
}

.page-footer section {
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	outline: 1px dashed #000000;
}

.footer-hashtag,
.footer-social,
.footer-copyright {
	width: 400px;
}

.footer-hashtag {
	font-size: 21px;
	line-height: 26px;
	color: #000000;
	text-transform: uppercase;
	text-decoration: none;
}
