.sprite {
    display: block;
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
}

.sprite-2stars_blau {
    width: 42px;
    height: 17px;
    background-position: -25px -25px;
}

.sprite-3stars_blau {
    width: 65px;
    height: 17px;
    background-position: -25px -92px;
}

.sprite-4stars_blau {
    width: 89px;
    height: 17px;
    background-position: -25px -159px;
}

.sprite-cale_black {
    width: 21px;
    height: 22px;
    background-position: -25px -226px;
}

.sprite-cale_blau {
    width: 21px;
    height: 22px;
    background-position: -25px -298px;
}

.sprite-cale_gray {
    width: 21px;
    height: 22px;
    background-position: -25px -370px;
}

.sprite-check_gray {
    width: 26px;
    height: 22px;
    background-position: -25px -442px;
}

.sprite-check_whight {
    width: 26px;
    height: 22px;
    background-position: -25px -514px;
}

.sprite-down_black {
    width: 11px;
    height: 10px;
    background-position: -25px -586px;
}

.sprite-down_blau {
    width: 11px;
    height: 10px;
    background-position: -25px -646px;
}

.sprite-down_gray {
    width: 11px;
    height: 10px;
    background-position: -25px -706px;
}

.sprite-facebook {
    width: 10px;
    height: 19px;
    background-position: -25px -766px;
}

.sprite-food {
    width: 74px;
    height: 70px;
    background-position: -25px -835px;
}

.sprite-house {
    width: 75px;
    height: 72px;
    background-position: -25px -955px;
}

.sprite-html_black {
    width: 113px;
    height: 39px;
    background-position: -25px -1077px;
}

.sprite-html_blau {
    width: 113px;
    height: 39px;
    background-position: -25px -1166px;
}

.sprite-html_gray {
    width: 113px;
    height: 39px;
    background-position: -25px -1255px;
}

.sprite-minus_black {
    width: 12px;
    height: 3px;
    background-position: -25px -1344px;
}

.sprite-minus_blau {
    width: 12px;
    height: 3px;
    background-position: -25px -1397px;
}

.sprite-minus_gray {
    width: 12px;
    height: 3px;
    background-position: -25px -1450px;
}

.sprite-notcheck_gray {
    width: 22px;
    height: 22px;
    background-position: -25px -1503px;
}

.sprite-notcheck_whight {
    width: 22px;
    height: 22px;
    background-position: -25px -1575px;
}

.sprite-plus_black {
    width: 11px;
    height: 11px;
    background-position: -25px -1647px;
}

.sprite-plus_blau {
    width: 11px;
    height: 11px;
    background-position: -25px -1708px;
}

.sprite-plus_gray {
    width: 11px;
    height: 11px;
    background-position: -25px -1769px;
}

.sprite-souvenir {
    width: 64px;
    height: 76px;
    background-position: -25px -1830px;
}

.sprite-twitter {
    width: 17px;
    height: 15px;
    background-position: -25px -1956px;
}

.sprite-up_black {
    width: 11px;
    height: 10px;
    background-position: -25px -2021px;
}

.sprite-up_blau {
    width: 11px;
    height: 10px;
    background-position: -25px -2081px;
}

.sprite-up_gray {
    width: 11px;
    height: 10px;
    background-position: -25px -2141px;
}

.sprite-youtube {
    width: 20px;
    height: 16px;
    background-position: -25px -2201px;
}


body {
	margin: 0;
	padding: 0;
	color: #000000;
	font-weight: normal;
	font-size: 14px;
	font-family: "PT Sans", "Arial", sans-serif;
	line-height: 21px;
}

.container {
	position: relative;
	margin: 0 auto;
	width: 1200px;
  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.container-inner {
	margin: 0 72px;
}

.clearfix::after {
	display: table;
	clear: both;
	content: "";
}

/* Шапка */
.logo {
	position: absolute;
	left: calc(50% - 69px);
	z-index: 5;
	width: 137px;
}

.menu-list {
	margin: 0;
	padding: 0 72px;
	list-style: none;
}

.menu-item {
	padding-top: 14px;
	padding-bottom: 16px;
}

.menu-item a {
	color: #000000;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	font-family: "PT Sans", "Arial", sans-serif;
	line-height: 26px;
}

.menu-item a:hover {
	color: #81b3d2;
}

.menu-item a:active {
	color: #000000;
	opacity: 0.3;
}

.menu-item .active {
color: #766357;
}

.item-left {
	float: left;
	margin-right: 148px;
}

.item-right {
	float: right;
	margin-left: 164px;
}

/* Основной блок  главной страницы */
.welcome h2 {
	margin-top: 61px;
	color: #000000;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 21px;
	font-family: "PT Sans", "Arial", sans-serif;
	line-height: 26px;
}

.welcome {
	position: relative;
}

.welcome p {
	margin-top: 29px;
	margin-bottom: 53px;
	text-align: center;
	text-transform: uppercase;
}

.welcome-bg {
	position: relative;
	background: url("../img/background.jpg");
	text-align: center;
}

.welcome-bg::after {
	position: absolute;
	bottom: 0;
	display: block;
	width: 1200px;
	height: 57px;
	background: url("../img/shape.png");
	content: "";
}

.welcome-bg img {
	margin-top: 76px;
	margin-bottom: 80px;
	vertical-align: bottom;
}

.welcome-shape {
	position: absolute;
	bottom: 163px;
	left: 0;
}

/* 5 причин */
/* 1 причина */
.reason-blue {
	float: left;
	width: 400px;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
}

.reason-blue h2 {
	margin-top: 55px;
	margin-right: 125px;
	margin-bottom: 23px;
	margin-left: 125px;
	line-height: 21px;
}

.reason-blue p {
	margin-top: 22px;
	margin-right: 47px;
	margin-left: 47px;
}

.reason-wrap {
	background-color: #81b3d2;
}

.reason-photo {
	float: left;
}

.reason-photo img {
	vertical-align: bottom;
}

/* промо */
.content-wrap {
}

.content-promo {
	position: relative;
	padding-top: 162px;
	line-height: 21px;
}

.content-promo h2 {
	margin: 0;
}

.content-promo p {
	margin-top: 23px;
  margin-bottom: 82px;
	padding-right: 50px;
	padding-left: 50px;
}

.promo-hotel::before {
	position: absolute;
	top: 60px;
	left: calc(50% - 38px);
	display: block;
    width: 75px;
    height: 72px;
	background: url("../img/sprite.png");
    background-position: -25px -955px;
	content: "";
}

.promo-food::before {
	position: absolute;
	top: 61px;
	left: calc(50% - 37px);
	display: block;
    width: 74px;
    height: 70px;
	background: url("../img/sprite.png");
    background-position: -25px -835px;
	content: "";
}

.promo-souvenir::before {
	position: absolute;
	top: 56px;
	left: calc(50% - 32px);
	display: block;
    width: 64px;
    height: 76px;
	background: url("../img/sprite.png");
    background-position: -25px -1830px;
	content: "";
}

/* 3-5 причина */
.reason-gray {
	background-color: #dddddd;
}
.content-promo,
.reason-gray {
	float: left;
	width: 400px;
	text-align: center;
	text-transform: uppercase;
}

.reason-gray h2 {
  width: 136px;
  margin: 0 auto;
	margin-top: 48px;
	margin-bottom: 23px;
	line-height: 21px;
  font-weight: 700;
}

.reason-gray p {
  margin: 0 auto;
	margin-top: 20px;
  margin-bottom: 60px;
  width: 276px;
}

.question {
	margin-top: 58px;
	text-align: center;
	text-transform: uppercase;
}

.question span {
	font-weight: bold;
	font-size: 30px;
	line-height: 24px;
}

.question p {
	margin-top: 25px;
	margin-bottom: 47px;
	font-size: 14px;
	line-height: 24px;
}

.map {
	position: relative;
}

.map img {
	vertical-align: bottom;
}

/*Форма поиска */
.search-article {
	margin: 0 auto;
	padding-top: 31px;
	padding-bottom: 29px;
	width: 568px;
	background-color: #766357;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	font-size: 21px;
	line-height: 26px;
}

.search-form {
	position: absolute;
	left: calc(50% - 284px);
	z-index: 5;
	padding: 55px;
	width: 458px;
	background: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.search-data {
	position: relative;
	margin-bottom: 29px;
	font-size: 0;
}

.search-data label {
	float: left;
	margin-top: 7px;
	font-weight: 700;
	font-size: 14px;
	line-height: 26px;
}

.search-data input {
	float: right;
	padding: 6px 0;
	padding-left: 10px;
	width: 336px;
	outline: 0;
	border: 0;
	background-color: #f2f2f2;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	line-height: 26px;
}

.search-data span {
	position: absolute;
	top: 8px;
	right: 8px;
	display: block;
	padding: 0;
    width: 21px;
    height: 22px;
	background-image: url(../img/sprite.png);
    background-position: -25px -370px;
}

.search-data span:hover {
    background-position: -25px -226px;
}

.search-data span:active {
    background-position: -25px -298px;
}

.search-guest {
	margin-bottom: 55px;
	vertical-align: middle;
	line-height: 26px;
}

.adults {
	float: left;
	width: 229px;
}

.search-guest label {
	float: left;
	margin-top: 8px;
	font-weight: 700;
	font-size: 14px;
	line-height: 26px;
}

.search-guest button,
.search-guest input {
	float: right;
}

.children {
	float: right;
	width: 179px;
}

.search-guest input {
	padding: 6px 0;
	width: 38px;
	outline: 0;
	border: 0;
	background-color: #f2f2f2;
	text-align: center;
	font-weight: 700;
	font-size: 14px;
	line-height: 26px;
}

.search-guest button {
	width: 38px;
	height: 38px;
	outline: 0;
	border: 0;
	background-color: #f2f2f2;
	font-size: 0;
}

.btn-plus {
	background-image: url(../img/sprite.png);
    background-position: -12px -1755px;
}

.btn-plus:hover {
    background-position: -12px -1633px;
}

.btn-plus:active {
	background-position: -12px -1694px;
}

.btn-minus {
	background-image: url(../img/sprite.png);
    background-position: -12px -1431px;
}

.btn-minus:hover {
    background-position: -12px -1325px;
}

.btn-minus:active {
    background-position: -12px -1378px;
}

.btn-search {
	display: block;
	margin: 0;
	padding: 16px 0;
	width: 100%;
	outline: 0;
	border: 0;
	background-color: #81b3d2;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 21px;
	line-height: 26px;
	cursor: pointer;
}

.btn-search:hover {
	background-color: #669ec0;
}

.btn-search:active {
	background-color: #5496bd;
	color: rgba(255, 255, 255, 0.3);
}

/* Основной блок внутренней страницы Отели */

.search-hotels {
	padding: 0 72px;
	padding-top: 28px;
	padding-bottom: 5px;
	background: url("../img/background_filter.jpg") no-repeat;
}

.options {
	float: left;
	margin-right: 120px;
}

.search-hotels legend {
	color: #ffffff;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 21px;
}

.options legend {
	margin-bottom: 25px;
}

.search-hotels fieldset {
	padding: 0;
	border: 0;
}

.options input {
	display: none;
}

.options label {
  position: relative;
	display: block;
	margin-bottom: 25px;
	padding-left: 39px;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 21px;
}

.options label::before {
	position: absolute;
	top: -2px;
	left: -1px;
	display: block;
    width: 22px;
    height: 22px;
	background: url(../img/sprite.png);
    background-position: -25px -1575px;
	content: "";
}

.options input:checked + label::before {
    width: 26px;
    height: 22px;
    background-position: -25px -514px;
}

/* Стоимость - Ползунок*/
.filter-range {
	float: right;
  width: 325px;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  margin-bottom: 20px;
  margin-left: 9px;
  margin-right: -2px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: calc(50% + 1px);
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 21px;
  padding-top: 5px;
  padding-bottom: 4px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls label:last-child {
  margin-left: -8px;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-left: 10px;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 29px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

/* НАЙДЕНО*/
.hotels-heder {
	padding: 30px 72px;
	border-bottom: 1px solid #e5e5e5;
}

.hotels-heder span {
	float: left;
	margin-right: 30px;
	width: 135px;
	text-transform: uppercase;
	font-size: 21px;
	line-height: 26px;
}

.sorting {
  position: relative;
	float: left;
	margin: 0;
	padding: 0;
	width: 890px;
	list-style: none;
}

.sorting-item {
	float: left;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 18px;
  margin-left: 0;
  padding-top: 6px;
}

.sorting-item a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
  margin-left: 34px;
}

.sorting-item-active a {
  color: #81b3d2;
  border-bottom: 0;
}

.sorting-item a:hover {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}

.sorting-item a:active {
  color: #000000;
  border-bottom: 0;
}

.sorting-item:first-child {
  margin-left: 0;
}

.sorting-item:nth-child(2) a {
  margin-left: 38px;
}

.sorting-item:nth-child(5) {
  float: right;
  font-size: 0px;
}

.sorting-up {
  position: absolute;
  display: block;
  content: "";
  top: 10px;
  right: 23px;
  background: url(../img/sprite.png);
    width: 11px;
    height: 10px;
    background-position: -25px -2141px;
}

.sorting-up:hover {
    background-position: -25px -2021px;
}

.sorting-up:active {
  background-position: -25px -2081px;
}

.sorting-down {
  position: absolute;
  display: block;
  content: "";
  top: 9px;
  right: 0;
  background: url(../img/sprite.png);
    width: 11px;
    height: 10px;
    background-position: -25px -646px;
}

.sorting-down:hover {
    background-position: -25px -586px;
}

.sorting-down:active {
    background-position: -25px -646px;
}

/*
.sorting-down {
  position: absolute;
  display: block;
  content: "";
  top: 9px;
  right: 0;
  background: url(../img/sprite.png);
    width: 11px;
    height: 10px;
    background-position: -25px -706px;
}
*/

/*Результат */
.hotel {
	position: relative;
	padding: 30px 72px;
	border-bottom: 1px solid #e5e5e5;
}

.hotel-photo {
	float: left;
	margin-right: 30px;
}

.hotel-photo img {
	vertical-align: bottom;
}

.hotel-description {
	float: left;
}

.hotel-description a {
	text-decoration: none;
}

.hotel-description>a {
	color: #000000;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 21px;
	line-height: 26px;
}

.description-collumn span {
	color: #000000;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 21px;
}

.description-collumn a {
	background-color: #81b3d2;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 21px;
}

.hotel-rating {
	float: right;
    position: absolute;
    display: block;
    width: 110px;
    bottom: 30px;
    right: 72px;
    color: #666666;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 21px;
    background-color: #f2f2f2;
    vertical-align: middle;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center
}

/* Подвал */
.page-footer {
	padding: 36px 0;
	text-align: center;
	font-size: 0;
}

.page-footer-index {
	position: absolute;
	bottom: 0;
	z-index: 5;
	background-color: rgba(255, 255, 255, 0.9);
}

.page-footer section {
	display: inline-block;
	width: 400px;
	vertical-align: top;
}

.footer-hashtag {
  margin-top: 13px;
}

.footer-hashtag a {
	color: #000000;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 21px;
}

.footer-social {
	font-size: 0;
}

.social-btn {
	position: relative;
	display: inline-block;
	margin-left: 6px;
	width: 46px;
	height: 48px;
	background: #81b3d2;
	vertical-align: top;
	font-size: 0;
}

.social-btn:hover {
	background-color: #669ec0;
}

.social-btn:active {
	background-color: #5496bd;
}

.social-btn-tw::after {
	position: absolute;
	top: 17px;
	left: calc(50% - 8.5px);
	display: block;
    width: 17px;
    height: 15px;
	background: url(../img/sprite.png);
    background-position: -25px -1956px;
	content: "";
}

.social-btn-fb::after {
	position: absolute;
	top: 13px;
	left: calc(50% - 5px);
	display: block;
    width: 10px;
    height: 19px;
	background: url(../img/sprite.png);
    background-position: -25px -766px;
	content: "";
}

.social-btn-yt::after {
	position: absolute;
	top: 16px;
	left: calc(50% - 10px);
	display: block;
    width: 20px;
    height: 16px;
	background: url(../img/sprite.png);
    background-position: -25px -2201px;
	content: "";
}

.social-btn:active::after {
	opacity: 0.3;
}

.social-btn:first-child {
	margin-left: -2px;
}

.footer-copyright {
	font-size: 0;
  margin-top: 5px;
}

.footer-copyright span {
	display: inline-block;
  vertical-align: top;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 39px;
}

.footer-copyright a {
	display: inline-block;
  vertical-align: top;
	margin-left: 7px;
	width: 113px;
	height: 39px;
	background: url(../img/sprite.png);
    background-position: -25px -1077px;
	font-size: 0px;
}

.footer-copyright a:hover {
    background-position: -25px -1166px;
}

.footer-copyright a:active {
    background-position: -25px -1255px;
}
