body {
	font-size: 14px;
	line-height: 21px;
	color: #000000;
	font-weight: normal;
	font-family: "PT Sans", "Arial", sans-serif;
	margin: 0;
	padding: 0;
}

.container {
	position: relative;
	width: 1200px;
	margin: 0 auto;
	outline: 1px dashed #000000;
}

.container-inner {
	margin: 0 72px;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

/* Шапка */
.logo {
	position: absolute;
	width: 137px;
	left: calc(50% - 68.5px);
}

.menu-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.menu-item {
	padding: 15px 0;
	width: 20%;
	text-align: center;
}

.menu-item a {
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	font-weight: bold;
	font-family: "PT Sans", "Arial", sans-serif;
	text-decoration: none;
	text-transform: uppercase;
}

.item-left {
	float: left;
}

.item-right {
	float: right;
}

/* Основной блок  главной страницы */
h2 {
	font-size: 21px;
	line-height: 26px;
	color: #000000;
	font-weight: bold;
	font-family: "PT Sans", "Arial", sans-serif;
	text-align: center;
	text-transform: uppercase;
	margin-top: 59px;
}

.welcome {
	position: relative;
}

.welcome p {
	text-align: center;
	text-transform: uppercase;
	margin-top: 29px;
	margin-bottom: 53px;
}

.welcome-bg {
	background: url("../img/background.jpg") no-repeat;
	text-align: center;
}

.welcome-bg img {
	margin-top: 76px;
	margin-bottom: 76px;
}

.welcome-shape {
	position: absolute;
	left: 0;
	bottom: 163px;
}

/* 5 причин */
.reason-blue {
	float: left;
	width: 400px;
	height: 256px;
	text-align: center;
	text-transform: uppercase;
	background-color: #81b3d2;
}

.reason-blue h2 {
	color: #ffffff;
	margin-left: 100px;
	margin-right: 100px;
}

.reason-blue p {
	margin-left: 50px;
	margin-right: 50px;
}

.reason-wrap {
	outline: 1px dashed #000000;
}

.reason-photo {
	float: left;
}

.reason-photo img {
	vertical-align: bottom;
}

.content-promo {
	height: 330px;
}

.promo-hotel {
	background: url("../img/tmp/house.png") no-repeat;
}
 
.reason-gray {
	height: 256px;
	background-color: #dddddd;
}
.content-promo, 
.reason-gray {
	float: left;
	width: 400px;
	text-align: center;
	text-transform: uppercase;
}

.search {
}

.question {
	margin-top: 58px;
	text-align: center;
	text-transform: uppercase;
}

.question span {
	font-size: 30px;
	line-height: 24px;
	font-weight: bold;
}

.question p {
	font-size: 14px;
	line-height: 24px;
	margin-top: 25px;
	margin-bottom: 48px;
}

.map {
	position: relative;
	outline: 1px dashed #000000;
}

.search-article {
	width: 568px;
	margin: 0 auto;
	text-align: center;
	background-color: #766357;
	color: #ffffff;
	font-size: 21px;
	line-height: 26px;
	text-transform: uppercase;
	padding-top: 30px;
	padding-bottom: 30px;
}

.search-form {
	position: absolute;
	width: 458px;
	left: calc(50% - 284px);
	padding: 55px;
	background: #ffffff;
	z-index: 5;
}

/* Основной блок внутренней страницы Отели */

.search-hotels {
	background: url("../img/background_filter.jpg") no-repeat;
	padding: 0 72px;
	padding-top: 30px;
	padding-bottom: 5px;
}

.options {
	float: left;
	margin-right: 120px;
}

.search-hotels legend {
	font-size: 16px;
	line-height: 21px;
	color: #ffffff;
	text-transform: uppercase;
}

.options legend {
	margin-bottom: 23px;
}

.search-hotels fieldset {
	border: 0;
	padding: 0;
}

.options input {
	display: none;
}

.options label {
	display: block;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 21px;
	padding-left: 40px;
	margin-bottom: 25px;
}

.price {
	float: right;
}

.hotels-heder {
	padding: 30px 72px;
}

.hotels-heder span {
	float: left;
	width: 135px;
	margin-right: 30px;
	font-size: 21px;
	line-height: 26px;
	text-transform: uppercase;
}

.sorting {
	padding: 0;
	margin: 0;
	width: 890px;
	float: left;
	list-style: none;
}

.sorting-item {
	float: left;
	font-size: 12px;
	line-height: 18px;
	text-transform: uppercase;
}

.hotel {
	padding: 30px 72px;
}

.hotel-photo {
	float: left;
	margin-right: 30px;
}

.hotel-photo img {
	vertical-align: bottom;
}

.hotel-description {
	float: left;
}

.hotel-rating {
	float: right;
}

/* Подвал */
.page-footer {
	font-size: 0;
	text-align: center;
	padding: 36px 0;
}

.page-footer-index {
	position: absolute;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.9);
	z-index: 5;
}

.page-footer section {
	display: inline-block;
	vertical-align: top;
	width: 400px;
	outline: 1px dashed #000000;
}

.footer-hashtag a {
	color: #000000;
	font-size: 21px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}

.footer-social {
	font-size: 0;
}

.social-btn {
	display: inline-block;
	vertical-align: top;
	width: 46px;
	height: 48px;
	background-color: #81b3d2;
	font-size: 0;
	margin-left: 6px;
}

.social-btn:first-child {
	margin-left: 0;
}

.footer-copyright {
	font-size: 14px;
	text-transform: uppercase;
}
